@import '../../scss/variables.scss';

.terminal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: $background-color;
  background-color: $background-color;
  cursor: url('/src/assets/icons/pointer.svg'), auto;

  // Apply theme-specific styles
  &.theme-primary, &.theme-secondary {
    // These classes will inherit the CSS variables defined in main.scss
    // Any theme-specific component can access the --theme-color and --theme-text variables
  }
}