// Terminal theme colors
$primary-color: #1e1e1e;
$secondary-intro-color: #f0f0f0;
$secondary-color: #b689ea;

// Font settings
$primary-font: 'Lufga', sans-serif;
$terminal-font: 'Courier New', monospace; // Classic terminal font

// Spacing
$terminal-padding: 1rem;
$border-radius: 5px;
$border-width: 2px;
