// Terminal theme colors
$background-color: #1e1e1e;
$intro-color: #f0f0f0;

//Primary theme colors
$theme-color-primary: #b689ea;
$theme-text-primary: #d0b5ee;

//Secondary theme colors
$theme-color-2: #33ff33;
$theme-text-2: #33ff33;

// Font settings
$primary-font: 'Lufga', sans-serif;
$terminal-font: 'Courier New', monospace; // Classic terminal font

// Spacing
$terminal-padding: 1rem;
$border-radius: 5px;
$border-width: 2px;
