@import '../../scss/variables.scss';

.blinking-cursor {
    display: inline-block;
    margin-left: 5px;
    width: 15px;
    height: 75%;
    background-color: var(--theme-color, $intro-color);
    animation: blink 1.1s step-end infinite;
    &.is-typing {
        animation: none;
    }
}
  
@keyframes blink {
    from, to { opacity: 1; }
    50% { opacity: 0; }
}